<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ChromeAiDemo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
       <li class="nav-item active">
        <%= link_to 'The Chats Debug', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Joyce', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Tables', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Complex Queries', root_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>